exercise/provided/enigma/target
exercise/provided/enigma/.idea
exercise/provided/enigma/*.iml
exercise/provided/text-processor-api/target
exercise/provided/text-processor-api/*.iml
exercise/provided/text-processor-api/.idea
exercise/provided/file-handler/target
exercise/provided/file-handler/*.iml
exercise/provided/file-handler/.idea
exercise/provided/.idea
exercise/provided/*.iml
exercise/impl/encryptor/.idea
exercise/impl/encryptor/target
exercise/impl/encryptor/*.iml
example/phone-book/.idea
example/phone-book/target
example/phone-book/*.iml