exercise/provided/enigma/target
exercise/provided/enigma/.idea
exercise/provided/enigma/*.iml
exercise/provided/text-processor-api/target
exercise/provided/text-processor-api/*.iml
exercise/provided/text-processor-api/.idea
exercise/provided/file-handler/target
exercise/provided/file-handler/*.iml
exercise/provided/file-handler/.idea
exercise/provided/.idea
exercise/provided/*.iml
exercise/impl/encryptor/.idea
exercise/impl/encryptor/target
exercise/impl/encryptor/*.iml
example/phone-book/.idea
example/phone-book/target
example/phone-book/*.iml
example/phone-book/phone-book-common/.idea
example/phone-book/phone-book-common/target
example/phone-book/phone-book-common/*.iml
example/phone-book/phone-book-service/.idea
example/phone-book/phone-book-service/target
example/phone-book/phone-book-service/*.iml
example/phone-book/phone-book-storage/.idea
example/phone-book/phone-book-storage/target
example/phone-book/phone-book-storage/*.iml
example/phone-book/phone-book-usage/.idea
example/phone-book/phone-book-usage/target
example/phone-book/phone-book-usage/*.iml
example/SimpleWarExample/.idea
example/SimpleWarExample/target
example/SimpleWarExample/*.iml
